@model IndexViewModel
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyLittleBluRayThequeProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyLittleBluRayThequeProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
</head>
<body>
@{
    ViewData["Title"] = "Home Page";
}
@if(Model.SelectedBluRay == null){

@foreach (var br in Model?.BluRays)
{
     <ul class="fullclick">
    <li>
      <h2>@br.Titre</h2>
  
      <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id="@br.Id"> Plus d'information...</a>
    </li>
  </ul>
 
} 
<button class="open-button" onclick="openForm()">Ajouter un BluRay</button>

<div class="popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <h1>Chat</h1>

    <label for="msg"><b>Message</b></label>
    <textarea placeholder="Type message.." name="msg" required></textarea>

    <button type="button" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
}
@if(Model.SelectedBluRay != null)
{
<div class="text-center">
    <div>
    titre : @Model.SelectedBluRay.Titre
    </div>
    <div>
        Acteurs : @foreach (var act in Model.SelectedBluRay.Acteurs)
        {
            <div>nom :  @act.Nom</div>
            <div>prenom :  @act.Prenom</div>
        }
    </div>
    <div>
    Date de sortie : @Model.SelectedBluRay.DateSortie.ToShortDateString()
    </div>

</div> 
}
</body>
</html>

<style>

titre-m a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

    .fullclick {
      margin: 1em 0;
      padding: 0;
      max-width: 30em;
	  border-radius: 5px;
	 

    }
    .fullclick li {
      list-style: none;
      margin: 1em 0;
      padding: 20px 10px;
      background: #f2f2f7;
      position: relative;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

	   border-radius: 10px;
    }
    .fullclick a.main {
      color: #000000;
      text-align: right;
      display: block;
      z-index: 1;
    }
    .fullclick li a.main::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: ' ';
    }
    .open-button {
  background-color: #bcbee1;
  color: white;
  padding: 16px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 70px;
  right: 28px;
  width: 280px;
  border-radius: 15px;
}

/* The popup chat - hidden by default */
.popup {
  display: none;
  position: fixed;
  bottom: 68px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;

}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
  </style>
  <script
		src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript">
		$(document).ready(function() {
			$("#sidebar").mCustomScrollbar({
				theme : "minimal"
			});

			$('#sidebarCollapse').on('click', function() {
				$('#sidebar , #content').addClass('active');

				$('#sidebarCollapse').on('click', function() {
					$('#sidebar , #content').toggleClass('active');
				});
			});

		});
	</script>

